*{
    margin: 0%;
    padding: 0%;
    font-family: 'Dancing Script', cursive;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.container-loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    opacity: 0.6;
}

.header {
    height: 100vh;
    background-image: url(../Img/02.-kym-ellis-unsplash-1100x560.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.conteudo {
    width: 1200px;
    position: relative;
}

.menu{
    display: flex;
    position: fixed;
    width: 85%;
    justify-content: space-between;
    padding-top: 20px;
    text-transform:uppercase;
    left: 10%
}
.logo {
    color:#669900;
    position: absolute;
    left: 72%;
    top: 4%;
    text-transform: uppercase;
}
.menu ul {
    list-style: none;
    display: flex; 
}
.menu ul li {
    margin-left: 20px;
}
.menu ul li a{
    color:  #cc2900;
    text-decoration: none;
}
.menu ul li a:hover{
    text-decoration:underline;
}



.header .conteudo{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}

#titulo{
    position: absolute;
    bottom: 0;
    left: 60%
}

.titulo {
    /*margin-bottom: 100px;*/
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#animated { 
        -webkit-animation-name: animated;
        animation-name: animated;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes animated {
        0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        }
        60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        }
        }
        @keyframes animated {
        0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        }
        60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        }
        } 

#historia{
    background-color: #c9c9c9;
    padding: 100px ;
    text-align: center;
}
.container {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

#todos-qualidades{
    height: 500px;
    background-image: url('../Img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.fundo{
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}


#produtos  {
    text-align: center;
    padding: 100px 0;
    background-color: #c9c9c9;
}
#produtos .conteudo>div{
    display: flex;
}
.vinho{
    margin-left: 330px;
}
.item-vinho img {
    width: 200px;
    height: 200px;
    border-radius: 40%;
    margin: auto;
}

.conteudo > div{
    display: flex;
    justify-content: space-around;
   
}

#rodape {
   display: flex;
   justify-content: center; 
}

.rodapet {
    background-color: #c9c9c9;
}