* {
    margin: 0%;
    padding: 0%;
    font-family: 'Cormorant SC', serif;
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bi{
    vertical-align: -.125em;
    fill: currentColor;
}

#assinatura{
    width: 80%;
    margin: 0 auto;
}

/* Responsividade */
/* X-Large */
@media (max-width: 1399px)
{
}

/* Large */
@media (max-width: 1199px)
{
}

/* Medium */
@media (max-width: 991px)
{
}

/* Small */
@media (max-width: 767px) 
{
 }

/* X-Small */
@media (max-width: 575px) 
{
}